body {
  font-family: Helvetica, sans-serif;
}

#banner {
  background-color: #f1f3ff;
}

.button-regis {
  width: 81px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  background-color: #5cb85f;
  color: white;
  border: none;
}

.button-sewa {
  width: 140px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  background-color: #5cb85f;
  color: white;
  border: none;
}

.nav-link {
  font-size: 14px;
}

.text-tagline h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.text-tagline p {
  font-size: 14px;
  line-height: 20px;
}

/* Service */

.service {
  background-color: white;
}

.text-service {
  margin-top: px;
}

.text-service h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.text-service p {
  font-size: 14px;
  line-height: 20px;
}

.text-service li {
  font-size: 14px;
  line-height: 20px;

  margin-top: 10px;
  list-style-image: url(assets/list_logo.svg);
}

.text-service span {
  position: relative;
  z-index: 10;
  bottom: 7px;
}

.img-service {
  position: absolute;
  width: 459px;
  height: 428px;

  background-color: white;
}

/* Why Us */

.why-us {
  background-color: white;
}

.text-why h1 {
  font-weight: 700;
  font-size: 30px;
}

/* Testimonial */

.testimonial {
  background-color: white;
}

.text-testi h1 {
  font-weight: 700;
  font-size: 30px;
}

#card {
  background-color: #f1f3ff;
}

/* Banner Sewa */

.banner-sewa {
  background-color: white;
}

.banner-card {
  background: #0d28a6;
}

/* FAQ */

.faq {
  background-color: white;
}

/* Footer */

.footer {
  background-color: white;
}

.linkk a {
  text-decoration: none;
  color: black;
}
